<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="logo" href="/img/weather.png">
    </head>
<body>
<div class="main-content">
{{>header}}
<p>{{para}}</p>
</div>
{{>footer}}  

</body>
</html>

